SESSION_SECRET="session-secret"
MONGO_SRV="mongodb+srv://hello:world@cluster0.eik69ve.mongodb.net/?retryWrites=true&w=majority"

Copy the values from this .env.example file and paste them into the .env file.
Replace the values with your own and remove this comment.